DISCORD_TOKEN=your_token_here
ENCRYPTION_KEY=your_fernet_key_here
ANILIST_CLIENT_ID=your_anilist_client_id_here
ANILIST_CLIENT_SECRET=your_anilist_client_secret_here
ANILIST_REDIRECT_URI=https://your-domain:8080/callback
WEB_SERVER_PORT=8080